@import '../../styles/variables';

.numbers {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numberDanger {
  color: red;
}

.numberGood {
  color: green;
}

.numberTotal {
  color: blue;
}
