@import './variables';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 1rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.page {
  margin-top: 4.25rem;
  margin-left: 3.25rem;
  min-height: calc(100vh - 3.25rem);
}

.aside {
  position: fixed;
  top: calc(3.5rem - 1px);
  left: 0;
  width: 3.5rem;
  height: 100%;
  padding-top: 1rem;
  border: 1px solid $shadow;
  // box-shadow: 0 0 0.3rem 0.15rem $shadow;
}

.dark-mode {
  color: $white;
  background: $darkMode;

  nav {
    color: inherit;
    background: inherit;
  }
}
